body {
    background-color: white
}

div.jumbotron {
   width: 100%;
   height: 575px;
   background-image:url(http://bit.ly/2bGOVmX);/*your background image*/
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/
   /*css hack for ie*/
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";}


   


h2{ color: white;
    font-size: 1000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    top: 50%; bottom: 50%; width: 100%; 
}


h3 {
    color: black;
    font-size: 100;
    text-align: center;
    font-family: "Verdana", monospace;
    top: 50%; bottom: 50%; width: 100%;

}

h4 {
    color: black;
    font-size: 100;
    text-align: center;
    font-family: "Verdana", monospace;
    top: 50%; bottom: 50%; width: 100%;

}
h5{
    color: black;
    font-size: 100;
    text-align: left;
    font-family: "Verdana", monospace;
    top: 50%; bottom: 50%; width: 100%;
}
h6 {
    color: black;
    font-size: 200;
    text-align: left;
    font-family: "Verdana", monospace;
    top: 50%; bottom: 50%; width: 100%;
    }
    
p {
    color: black;
    font-size: 100;
    text-align: left;
    font-family: "Verdana", monospace;
    top: 50%; bottom: 50%; width: 100%;
}


.servicesinfo {
  opacity: 0;
  visibility: hidden;
}
.personfin:hover + .servicesinfo {
  opacity: 1;
  visibility: visible;
}

#carousel-example-generic {
  margin-left:90px;
  margin-right: 90px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-height: 360px;
  min-width: 460; /* Set slide height here */

}
#brand {
    text-align:center;
}  

#carousel_text{
    color:black;
    font-family: "Verdana", monospace;
}

