
h2.sections {
    margin-left: 25px;
    font-size:25px;
    font-family: Century Gothic, sans-serif;
    font-style:normal
}
head {
    font-size:40px;
    font-family: Century Gothic, sans-serif;
    font-style: normal;
}
li.points {
    margin-left: 50px;
    font-size:15px;
    font-family: Century Gothic, sans-serif;
    font-style:normal
}
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}



li a {
    display: block;
    color: black;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
    opacity: 0.2
}
#container1111 {
    margin-left:30px;
}
.mylist {
    width: 30em;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    font-family: Century Gothic, sans-serif;
}

#play {
    float:right;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
}   
    
h2 {
      font-size: 20px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
     
}
#video_text {
    margin-right: 20cm;
    margin-left:2cm;
    
}
#video {
    margin-left: 10cm;
    margin-right:5cm;
    margin-top:1cm;
}

    